{#
/**
 * @file
 * Default theme implementation for displaying a view as a bootstrap carousel.
 *
 * Available variables:
 * - view: The view object.
 * - rows: A list of the view's row items.
 * - id: A valid HTML ID and guaranteed to be unique.
 * - interval: The amount of time to delay between automatically cycling a
 *   slide item. If false, carousel will not automatically cycle.
 * - pause: Pauses the cycling of the carousel on mouseenter and
 *   resumes the cycling of the carousel on mouseleave.
 * - wrap: Whether the carousel should cycle continuously or have
 *   hard stops.
 *
 * @see template_preprocess_views_bootstrap_carousel()
 *
 * @ingroup themeable
 */
#}

<div id="{{ id }}" class="views-bootstrap-multi-item carousel {{ effect }}"
    data-bs-interval="{{ interval }}"
    {% if ride %} data-bs-ride="carousel" {% endif %}
    data-bs-pause="{% if pause %}hover{% else %}false{% endif %}"
>
  {# Show indicators if set in view. #}
  {%  if indicators %}
  <ol class="carousel-indicators">
      {% for key, row in rows %}
          {% set indicator_classes = [loop.first ? 'active'] %}
          <li class="{{ indicator_classes|join(' ') }}" data-bs-target="#{{ id }}" data-bs-slide-to="{{ key }}"></li>
      {% endfor %}
  </ol>
  {% endif %}

  {# Carousel body. #}
  <div class="carousel-inner">
    {% for row in rows %}
        {% set row_classes = ['carousel-item', loop.first ? 'active' ] %}

        <div class="{{ row_class }}">
          <div class="{{ row_classes|join(' ') }}">
              <div class="card">
                  <div class="img-wrapper">{{ row.image }}</div>
                  {% if row.title or row.description %}
                    <div class="card-body">
                        {% if row.title %}
                          <h5 class="card-title">{{ row.title }}</h5>
                        {% endif %}
                        {% if row.description %}
                          <p class="card-text">{{ row.description }}</p>
                        {% endif %}
                        {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                    </div>
                  {% endif %}
              </div>
          </div>
        </div>

    {% endfor %}
  </div>
  {% if navigation %}
    <a class="carousel-control-prev" href="#{{ id }}" role="button" {#data-bs-slide="prev"#}>
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'Previous'|t }}</span>
    </a>
    <a class="carousel-control-next" href="#{{ id }}" role="button" {#data-bs-slide="next"#}>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'Next'|t }}</span>
    </a>
  {% endif %}
</div>
